/***************
SUSY GRID CONFIGURATION
***************/

@import "susy";

$susy: (
  columns: 12,
  gutters: 1/3,
  gutter-position: after,
);


.ag1, .ag2 {
    @include span(3 wide of 12); 
}

.ag3 {
    @include span(3 wide of 9 last); 
}